<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/alunos/bootstrap-5.2.0-dist/css/bootstrap.min.css">
    <title>{% block title %} Alunos {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Turma do 2º Ano "A"</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item me-3 ms-3">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Alunos</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary text-white nav-link" href="{% url 'cadastro' %}">Cadastrar Aluno</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block body %}
    {% endblock %}
    <script src="../../static/alunos/bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
    <script src="../../static/alunos/jquerry-3.6.1/jquery-3.6.1.js"></script>
</body>
</html>